<div class="container">
  <form [formGroup]="form">
    <div class="form-row justify-content-center mt-5">
      <div class="form-group col-md-2">
        <label for="real-part-1" [ngClass]="{'text-danger': form.controls['real-part-1'].touched && form.controls['real-part-1'].invalid}">
          Real part <span class="text-danger">*</span>
        </label>
        <input id="real-part-1" formControlName="real-part-1" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <div class="text-danger" [hidden]="!(form.controls['real-part-1'].touched && form.controls['real-part-1'].invalid)">Required value</div>
      </div>
      <div class="form-group col-md-2">
        <label for="imaginary-part-1" [ngClass]="{'text-danger': form.controls['imaginary-part-1'].touched && form.controls['imaginary-part-1'].invalid}">
          Imaginary part <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input id="imaginary-part-1" formControlName="imaginary-part-1" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-append">
            <em class="input-group-text">i</em>
          </div>
        </div>
        <div class="text-danger" [hidden]="!(form.controls['imaginary-part-1'].touched && form.controls['imaginary-part-1'].invalid)">Required value</div>
      </div>
      <div class="form-group col-md-1">
        <label for="operation">Operation</label>
        <select id="operation" [(ngModel)]="operation" [ngModelOptions]="{standalone: true}" (change)="onChangeSelect()" class="custom-select">
          <option value="+" selected>+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="real-part-2" [ngClass]="{'text-danger': form.controls['real-part-2'].touched && form.controls['real-part-2'].invalid}">
          Real part <span class="text-danger">*</span>
        </label>
        <input id="real-part-2" formControlName="real-part-2" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <div class="text-danger" [hidden]="!(form.controls['real-part-2'].touched && form.controls['real-part-2'].invalid)">Required value</div>
      </div>
      <div class="form-group col-md-2">
        <label for="imaginary-part-2" [ngClass]="{'text-danger': form.controls['imaginary-part-2'].touched && form.controls['imaginary-part-2'].invalid}">
          Imaginary part <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input id="imaginary-part-2" formControlName="imaginary-part-2" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-append">
            <em class="input-group-text">i</em>
          </div>
        </div>
        <div class="text-danger" [hidden]="!(form.controls['imaginary-part-2'].touched && form.controls['imaginary-part-2'].invalid)">Required value</div>
      </div>
    </div>
  </form>
  <div class="jumbotron jumbotron-fluid" >
    <div class="container text-center">
      <h1 *ngIf="result" class="display-4 text-info">{{result}}</h1>
      <h1 *ngIf="!result" class="display-4">The result will be here</h1>
    </div>
  </div>
</div>


